doctype html
html
 include common/_head
 body
  include common/_oldbrowsers
  .wrapper
   include common/_header
   .container.container__blog
    .sidebar
     ul.sidebar__list
      li.sidebar__item.sidebar__item--acive
       a.sidebar__link Самое важное в Saas
      li.sidebar__item
       a.sidebar__link Lorem ipsum dolor sit amet, consectetur adipisicing.
      li.sidebar__item
       a.sidebar__link Lorem ipsum dolor sit amet.
      li.sidebar__item
       a.sidebar__link Lorem ipsum dolor sit amet, consectetur.
    .content
     .article
      .article__title Самое важное в Saas
      .article__date 20 ноября.2016
      .article__text
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. | Soluta aperiam, quam libero, ducimus dicta officia aspernatur | culpa obcaecati eligendi quibusdam, recusandae natus consectetur | esse repellat facilis debitis ratione commodi est!
       p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. | Soluta aperiam, quam libero, ducimus dicta officia aspernatur | culpa obcaecati eligendi quibusdam, recusandae natus consectetur | esse repellat facilis debitis ratione commodi est!
     .article
      .article__title  Lorem ipsum dolor sit amet, consectetur adipisicing.
      .article__date 26 декабря.2016
      .article__text
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. | Soluta aperiam, quam libero, ducimus dicta officia aspernatur | culpa obcaecati eligendi quibusdam, recusandae natus consectetur | esse repellat facilis debitis ratione commodi est!
       p p Lorem ipsum dolor sit amet, consectetur adipisicing elit. | Soluta aperiam, quam libero, ducimus dicta officia aspernatur | culpa obcaecati eligendi quibusdam, recusandae natus consectetur | esse repellat facilis debitis ratione commodi est!
 include common/_footer
