doctype html
html
 include common/_head
 body
  include common/_oldbrowsers
  .wrapper
   include common/_header
   .container
    .about
     .about__left
      .about__title Обо мне
      .about__ava
       img.about__ava-pic(src="/assets/img/ava-big.png")
      .about__sub-title Кто я
      .about__desk
       p.about__desk-p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptas ut earum enim itaque harum commodi corporis nam quasi, dolor iusto placeat minus provident eum! Nostrum placeat soluta omnis possimus.
       p.about__desk-p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repellat alias illum fugit dignissimos modi unde mollitia magnam hic id rem magni est aliquam, tempora, neque ipsum in sequi minus repudiandae. Veniam dolorem quis consequuntur doloremque culpa quod reprehenderit aliquam nisi et laudantium, illo suscipit itaque officiis qui nam. Reprehenderit.
     .about__right
      .about__sub-title Чем могу вам быть полезен
      .about__desk
       p.about__desk-p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto facilis maxime repellendus quo iusto corporis, eveniet debitis nihil vitae earum?
      .skills
       .sills__title Frontend
        svg
         <circle cx="250" cy="25" r="25"/>
       .sills__title Backend
       .sills__title WorkFlow
   .map-wrap
    .map
footer.footer.footer__line.footer__about
 .container
  ul.footer-pages__list
   li.footer-pages__item
    a.footer-pages__link Мои работы
   li.footer-pages__item
    a.footer-pages__link Обо мне
   li.footer-pages__item
    a.footer-pages__link Блог
   li.footer-pages__item
    a.footer-pages__link Авторизация
  ul.socials__list.footer__list
   li.socials__item.footer__item
    a.socials__link.socials__link_vk.footer__link(href="https://new.vk.com/segant333")
   li.socials__item.footer__item
    a.socials__link.socials__link_github.footer__link(href="https://github.com/SSegant")
   li.socials__item.footer__item
    a.socials__link.socials__link_linkedin.footer__link(href="https://www.linkedin.com/profile/preview?locale=ru_RU&trk=prof-0-sb-preview-primary-button")
 .container
  .footer__left
   .footer__left__desk Я веб-разработчик из Нижнего Тагила, и этот сайт я написал в рамках обучения в школе онлайн образования LoftSchool
  .footer__right
   .footer__right__desk &copy;Иноземцев сергей | сделано слюбовью в LoftSchool 2016