footer.footer.footer__line
 .container
  ul.footer-pages__list
   li.footer-pages__item
    a.footer-pages__link(href="/works") Мои работы
   li.footer-pages__item
    a.footer-pages__link(href="/about") Обо мне
   li.footer-pages__item
    a.footer-pages__link(href="/blog") Блог
   li.footer-pages__item
    a.footer-pages__link(href="/welkome") Авторизация
  ul.socials__list.footer__list
   li.socials__item.footer__item
    a.socials__link.socials__link_vk.footer__link(href="https://new.vk.com/segant333")
   li.socials__item.footer__item
    a.socials__link.socials__link_github.footer__link(href="https://github.com/SSegant")
   li.socials__item.footer__item
    a.socials__link.socials__link_linkedin.footer__link(href="https://www.linkedin.com/profile/preview?locale=ru_RU&trk=prof-0-sb-preview-primary-button")
 .container
  .footer__left
   .footer__left__desk Я веб-разработчик из Нижнего Тагила, и этот сайт я написал в рамках обучения в школе онлайн образования LoftSchool
  .footer__right
   .footer__right__desk &copy;Иноземцев сергей | сделано слюбовью в LoftSchool 2016
