.header
 .container
  include _socials
  .header-box
   .header-box__ava
    img.header-box__ava-pic(src="/assets/img/ava.png")
   .header-box__title Сергей Иноземцев
   .header-box__sub-title Личный сайт веб-разработчика
 .header-tr-l
 .header-tr-r
