ul.socials__list
 li.socials__item
  a.socials__link.socials__link_vk(href="https://new.vk.com/segant333")
 li.socials__item
  a.socials__link.socials__link_github(href="https://github.com/SSegant")
 li.socials__item
  a.socials__link.socials__link_linkedin(href="https://www.linkedin.com/profile/preview?locale=ru_RU&trk=prof-0-sb-preview-primary-button")